{% extends "_base.html" %}
{% block content %}

    <h1> Welcome to the Movie Recommender! </h1>

    <form action="/recommendation_test" method="get">

      <!-- <p> Please select your preferred genre. </p>

      <select name="genre">
        <option value="action">Action</option>
        <option value="drama">Drama</option>
        <option value="horror">Horror</option>
        <option value="scifi">Sci-Fi</option>
      </select> -->

      <p>Rate those ten popular movies:</p>

      <div class="row">

        <div class="column">
          <p>Movie 1</p>
          <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
          <br>
          <label>No no!</label>
          <input type="range" id="slider" name="rating1" min="0" max="50" value="0">
          <label>Favorite!</label>
          <br>
        </div>

        <div class="column">
          <p>Movie 2</p>
          <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
          <br>
          <label>No no!</label>
          <input type="range" id="slider" name="rating2" min="0" max="50" value="0">
          <label>Favorite!</label>
          <br>
        </div>

        <div class="column">
          <p>Movie 3</p>
          <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
          <br>
          <label>No no!</label>
          <input type="range" id="slider" name="rating3" min="0" max="50" value="0">
          <label>Favorite!</label>
          <br>
        </div>

      <div class="column">
        <p>Movie 4</p>
        <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
        <br>
        <label>No no!</label>
        <input type="range" id="slider" name="rating4" min="0" max="50" value="0">
        <label>Favorite!</label>
        <br>
      </div>

      <div class="column">
        <p>Movie 5</p>
        <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
        <br>
        <label>No no!</label>
        <input type="range" id="slider" name="rating5" min="0" max="50" value="0">
        <label>Favorite!</label>
        <br>
      </div>
    </div>

    <div class="row">

      <div class="column">
        <p>Movie 6</p>
        <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
        <br>
        <label>No no!</label>
        <input type="range" id="slider" name="rating6" min="0" max="50" value="0">
        <label>Favorite!</label>
        <br>
      </div>

      <div class="column">
        <p>Movie 7</p>
        <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
        <br>
        <label>No no!</label>
        <input type="range" id="slider" name="rating7" min="0" max="50" value="0">
        <label>Favorite!</label>
        <br>
      </div>

      <div class="column">
        <p>Movie 8</p>
        <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
        <br>
        <label>No no!</label>
        <input type="range" id="slider" name="rating8" min="0" max="50" value="0">
        <label>Favorite!</label>
        <br>
      </div>

    <div class="column">
      <p>Movie 9</p>
      <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
      <br>
      <label>No no!</label>
      <input type="range" id="slider" name="rating9" min="0" max="50" value="0">
      <label>Favorite!</label>
      <br>
    </div>

    <div class="column">
      <p>Movie 10</p>
      <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" alt="Movie poster" style="width:100%">
      <br>
      <label>No no!</label>
      <input type="range" id="slider" name="rating10" min="0" max="50" value="0">
      <label>Favorite!</label>
      <br>
    </div>

  </div>

  <input type="submit">

  </form>

{% endblock %}
