{% extends "_base.html" %}
{% block content %}

    <div style= "margin: 50px auto;">
    <h2>Here is what you should watch</h2>
    </div>


    <ul>
      {% for m in movies %}

      <div class="result">
        <img src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg" alt="Movie poster - Shawshank Redemption" height="100%">
        <div class="movie_details">
          <h3>{{ m }}</h3>
          <p>Some movie information</p>
        </div>
      </div>


      <li> {{ m }} </li>
      {% endfor %}
    </ul>

    <p> {{ input }} </p>

{% endblock %}
