{% extends "_base.html" %}
{% block content %}

    <div style= "margin: 50px auto;">
    <h3>Here is what you should watch</h3>
    </div>

      {% for id in movies %}

      <div class="result">
        <a href="https://www.imdb.com/title/{{ movies[id]['omdb_dict']['imdbID'] }}/">
          <img src="{{ movies[id]['omdb_dict']['Poster'] }}" alt="Movie poster - {{ movies[id]['omdb_dict']['Title'] }}" height="100%">
        </a>
        <div class="movie_details">
          <h4>{{ movies[id]['omdb_dict']['Title'] }}</h4>
          <p>{{ movies[id]['omdb_dict']['Genre'] }} <br>
          {{ movies[id]['omdb_dict']['Year'] }} | {{ movies[id]['omdb_dict']['Country'] }} </p>
          <p>Directed by {{ movies[id]['omdb_dict']['Director'] }} <br>
          Starring {{ movies[id]['omdb_dict']['Actors'] }}</p>
          <p><b>Storyline</b><br> {{ movies[id]['omdb_dict']['Plot'] }} </p>
          <p style="margin: 0 0 4px"><b>Ratings</b></p>

          {% for i in range(movies[id]['omdb_dict']['Ratings']|length) %}
          <div class="ratings">
            <p style="margin: 0 0 4px"> {{ movies[id]['omdb_dict']['Ratings'][i]['Source'] }} </p>
            <p style="font-size: 24px; color: #c5c6c7"> {{ movies[id]['omdb_dict']['Ratings'][i]['Value'] }} </p>
          </div>
          {% endfor %}
        <<br>

        </div>
      </div>

      {% endfor %}

    <!-- <p> {{ movies }} </p> -->

{% endblock %}
